@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-color: #f8fafc;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
}

@supports (padding: max(0px)) {
  .safe-bottom {
    padding-bottom: max(0.5rem, env(safe-area-inset-bottom));
  }
  .safe-top {
    padding-top: max(0.5rem, env(safe-area-inset-top));
  }
}
